[general]
pod2usage=/usr/local/bin/pod2usage

[courier]

# the location of the courier configuration
etc=/etc/courier

# the user/group that the MDA will run as
courier_user=courier
courier_group=courier

# the location of the script which can stop/start/restart courier
courier_rc=/usr/local/etc/rc.d/courier.sh

# the location of the makehosteddomains/makeacceptmailfor/etc scrpits
sbin=/usr/sbin

# the default maildir quota for new users
quota=20000000S

# The location of the files which are copied into a brand new home dir
skeldir=/usr/local/etc/courier/skel

# Set to 1 to for user names to lower case.
lc_user = 0

#
# Given $user and $domain, where will the users home directory be located?
#
#PerlStalker's scheme:
#domaindir="/var/mail/virtual/$domain"
#userhomedir="/var/mail/virtual/$domain/".substr($user, 0, 2)."/$user"

#stew's scheme:
domaindir="/home/virtual/$domain"
userhomedir="/home/virtual/$domain/var/mail/$user"

[courier_mysql]

# setting this to 1 will cause fields in the authmysqlrc file to override these values
use_authmysql=1 

SERVER=localhost
USERNAME=courier
PASSWORD=
SOCKET=/tmp/mysql.sock
PORT=3306
DATABASE=
USER_TABLE=
CRYPT_PWFIELD=
CLEAR_PWFIELD=
UID_FIELD=
GID_FIELD=
LOGIN_FIELD=x
HOME_FIELD=
NAME_FIELD=
MAILDIR_FIELD=
QUOTA_FIELD=
ALIAS_FIELD=aliasfor

[spamassassin]

use_sa=0
sa_conf=/usr/local/etc/mail/spamassassin/local.cf

sql_database=
sql_username=
sql_server=
sql_port=
sql_password=
sql_table=


# SQUIRRELMAIL
[sm]
sm_config=/usr/local/squirrelmail-live/config/config.php
use_sm_address=0
use_sm_userpref=0

address_dsn=
address_username=
address_password=
address_table=

userpref_dsn=
userpref_username=
userpref_password=
userpref_table=
userpref_user_field=
userpref_key_field=
userpref_val_field=


[mailman]

use_mailman=1
mm_dir=/usr/local/mailman
mm_domain=lists.amigo.net


